# Text-to-SQL with Vanna.ai - Complete Tutorial

**Duration:** 1-2 hours  
**Level:** Intermediate (requires SQL knowledge and basic LLM understanding)  
**Framework:** Vanna.ai 2.0 Agent Framework  
**Database:** PostgreSQL (Supabase)

---

## What You'll Learn

1. What Text-to-SQL is and why it matters
2. How to set up Vanna.ai 2.0 with OpenAI and PostgreSQL
3. Understanding the Agent framework architecture
4. Generating SQL from natural language questions
5. Executing queries and handling results
6. Best practices for production deployment

---

## Prerequisites

- OpenAI API key
- PostgreSQL database (Supabase or local)
- Python 3.12+
- Basic understanding of SQL and LLMs

---

# Section 1: Introduction to Text-to-SQL

## What is Text-to-SQL?

Text-to-SQL converts natural language questions into SQL queries:

```
Question: "How many customers do we have?"
         ‚Üì
SQL: SELECT COUNT(*) FROM customers
         ‚Üì
Result: 100
```

## Why Use Text-to-SQL?

1. **Democratize Data Access** - Non-technical users can query databases
2. **Faster Analytics** - No manual SQL writing required
3. **Business Intelligence** - Power chatbots and dashboards
4. **Real-World Use Cases**: Slack bots, analytics dashboards, customer support tools

## Technical Architecture

```
Natural Language Question
         ‚Üì
    LLM (OpenAI GPT-4o)
         ‚Üì
    SQL Generation
         ‚Üì
    PostgreSQL Database
         ‚Üì
    Results (DataFrame)
```

## Vanna.ai 2.0 Overview

- **Agent Framework** - Modern architecture with user awareness
- **Modular Design** - Swap LLMs, databases, tools
- **Security** - User permissions and access control
- **Streaming UI** - Real-time component updates

---

# Section 2: Environment Setup

## Install Dependencies

In [1]:
# Install required packages
#!pip install vanna openai psycopg2-binary python-dotenv pandas sqlalchemy -q

## Import Libraries

**Important:** Vanna 2.0 uses different imports than Legacy (0.x)

In [2]:
# Core Vanna 2.0 imports
from vanna import Agent
from vanna.integrations.openai import OpenAILlmService
from vanna.integrations.postgres import PostgresRunner
from vanna.core.registry import ToolRegistry
from vanna.tools import RunSqlTool
from vanna.core.user import UserResolver, User, RequestContext
from vanna.integrations.local.agent_memory import DemoAgentMemory

# Standard libraries
import os
import pandas as pd
import psycopg2
from dotenv import load_dotenv
from urllib.parse import urlparse
from IPython.display import display

print("‚úì Libraries imported successfully")

‚úì Libraries imported successfully

## Load Environment Variables

In [3]:
# Load from .env file
load_dotenv()

# Get credentials
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
DATABASE_URL = os.getenv("DATABASE_URL")

# Verify credentials exist
if not OPENAI_API_KEY:
    raise ValueError("OPENAI_API_KEY not found in environment")
if not DATABASE_URL:
    raise ValueError("DATABASE_URL not found in environment")

print("‚úì Environment variables loaded")
print(f"  OpenAI API Key: {OPENAI_API_KEY[:20]}...")
print(f"  Database: {DATABASE_URL.split('@')[1] if '@' in DATABASE_URL else 'configured'}")

‚úì Environment variables loaded
  OpenAI API Key: sk-proj-c0swPeKGneNC...
  Database: aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres

---

# Section 3: Initialize Vanna 2.0 Agent

## Architecture Components

Vanna 2.0 uses a modular Agent architecture:

1. **LlmService** - The language model (OpenAI GPT-4o)
2. **SqlRunner** - Database connection and execution
3. **ToolRegistry** - Available tools for the Agent
4. **UserResolver** - User authentication and permissions
5. **AgentMemory** - Conversation history
6. **Agent** - Orchestrates everything

## Step 1: Initialize LLM Service

In [4]:
# Initialize OpenAI GPT-4o
llm = OpenAILlmService(
    api_key=OPENAI_API_KEY,
    model="gpt-4o-mini"
)

print("‚úì LLM Service initialized (OpenAI GPT-4o-mini)")

‚úì LLM Service initialized (OpenAI GPT-4o-mini)

## Step 2: Initialize PostgreSQL Runner

**Important:** Use `connection_string` approach (simplest)

In [5]:
# Connect to PostgreSQL using connection string
postgres_runner = PostgresRunner(
    connection_string=DATABASE_URL
)

print("‚úì PostgreSQL Runner initialized")

‚úì PostgreSQL Runner initialized

## Step 3: Register Tools

Tools define what the Agent can do. We'll register the `RunSqlTool`.

In [7]:
# Create tool registry
tools = ToolRegistry()

# Register SQL execution tool
tools.register_local_tool(
    RunSqlTool(sql_runner=postgres_runner),
    access_groups=['user', 'admin']  # Who can use this tool
)

print("‚úì Tools registered (RunSqlTool)")

‚úì Tools registered (RunSqlTool)

## Step 4: Create User Resolver

User resolver handles authentication and permissions.

In [8]:
class SimpleUserResolver(UserResolver):
    """Simple user resolver for tutorial purposes"""
    
    async def resolve_user(self, request_context: RequestContext) -> User:
        return User(
            id="tutorial_user",
            email="student@tutorial.com",
            group_memberships=['user', 'admin']  # Full access
        )

user_resolver = SimpleUserResolver()

print("‚úì User Resolver created")

‚úì User Resolver created

## Step 5: Initialize Agent

The Agent orchestrates all components.

In [9]:
# Create the Agent
agent = Agent(
    llm_service=llm,
    tool_registry=tools,
    user_resolver=user_resolver,
    agent_memory=DemoAgentMemory()  # In-memory conversation history
)

print("‚úì Agent initialized successfully!")
print("\n=== Vanna 2.0 Agent Ready ===")

‚úì Agent initialized successfully!

=== Vanna 2.0 Agent Ready ===

---

# Section 4: Understanding the Database

## Database Schema Overview

Our e-commerce database has 3 tables:

### 1. `customers` (100 rows)
- `id` - Primary key
- `name` - Customer name
- `email` - Email address
- `segment` - SMB, Enterprise, or Individual
- `country` - Customer country

### 2. `products` (50 rows)
- `id` - Primary key
- `name` - Product name
- `category` - Product category
- `price` - Product price
- `stock_quantity` - Inventory count

### 3. `orders` (200 rows)
- `id` - Primary key
- `customer_id` - Foreign key to customers
- `order_date` - Order date
- `total_amount` - Order total (NOT 'price'!)
- `status` - Pending, Delivered, Cancelled, Processing

### Relationships
- `customers.id` ‚Üí `orders.customer_id` (one-to-many)

## Create Helper Function for Direct SQL

Sometimes we want to run SQL directly without the Agent.

In [10]:
def run_sql_simple(sql: str) -> pd.DataFrame:
    """
    Execute SQL directly using psycopg2 (non-async, simple).
    
    Args:
        sql: SQL query string
        
    Returns:
        DataFrame with results
    """
    # Parse DATABASE_URL
    parsed = urlparse(DATABASE_URL)
    
    print(parsed)
    # Connect to database
    conn = psycopg2.connect(
        host=parsed.hostname,
        database=parsed.path[1:],  # Remove leading '/'
        user=parsed.username,
        password=parsed.password,
        port=parsed.port or 5432
    )
    
    # Execute query
    df = pd.read_sql_query(sql, conn)
    conn.close()
    
    return df

print("‚úì Helper function created: run_sql_simple()")

‚úì Helper function created: run_sql_simple()

In [11]:
DATABASE_URL

'postgresql://postgres.phykqwvmtgeytfeejuyg:S8yrcfQg4Gsoph@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres'

## Preview Database Tables

In [12]:
# Preview customers table
print("=== CUSTOMERS TABLE (Sample) ===")
customers_sample = run_sql_simple("SELECT * FROM customers LIMIT 5")
display(customers_sample)

=== CUSTOMERS TABLE (Sample) ===
ParseResult(scheme='postgresql', netloc='postgres.phykqwvmtgeytfeejuyg:S8yrcfQg4Gsoph@aws-1-ap-southeast-2.pooler.supabase.com:6543', path='/postgres', params='', query='', fragment='')

/var/folders/mp/b24cjdwd53j8wrh3z14b59qw0000gn/T/ipykernel_15254/474721194.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,id,name,email,segment,country,created_at,updated_at
0,1,Paul Silva,dawngarcia@example.org,Individual,Canada,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
1,2,Mr. Charles Adams,sheltonrachel@example.com,Enterprise,India,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
2,3,Christopher Garcia,danielle38@example.com,Individual,UK,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
3,4,Jim Wilson,barrettjeffrey@example.com,SMB,Canada,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
4,5,Carla Strong,timothymiller@example.com,SMB,India,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927

In [13]:
# Preview products table
print("=== PRODUCTS TABLE (Sample) ===")
products_sample = run_sql_simple("SELECT * FROM products LIMIT 5")
display(products_sample)

=== PRODUCTS TABLE (Sample) ===
ParseResult(scheme='postgresql', netloc='postgres.phykqwvmtgeytfeejuyg:S8yrcfQg4Gsoph@aws-1-ap-southeast-2.pooler.supabase.com:6543', path='/postgres', params='', query='', fragment='')

/var/folders/mp/b24cjdwd53j8wrh3z14b59qw0000gn/T/ipykernel_15254/474721194.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,id,name,category,price,stock_quantity,description,created_at,updated_at
0,1,Support Plan Klein and Sons,Services,1077.36,14,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
1,2,Server,Hardware,1201.11,130,Box prevent ask thought reflect cup walk.\nLea...,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
2,3,CRM System Gregory-Morton,Software,1029.67,10,Finally relate happen character education. Why...,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
3,4,Consulting Brown-Gonzalez,Services,1828.95,78,Born above test always its manager American in...,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
4,5,Technical Manual Shaw-Miles,Books,981.92,291,Respond more like drug leave everything listen...,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927

In [14]:
# Preview orders table
print("=== ORDERS TABLE (Sample) ===")
orders_sample = run_sql_simple("SELECT * FROM orders LIMIT 5")
display(orders_sample)

=== ORDERS TABLE (Sample) ===
ParseResult(scheme='postgresql', netloc='postgres.phykqwvmtgeytfeejuyg:S8yrcfQg4Gsoph@aws-1-ap-southeast-2.pooler.supabase.com:6543', path='/postgres', params='', query='', fragment='')

/var/folders/mp/b24cjdwd53j8wrh3z14b59qw0000gn/T/ipykernel_15254/474721194.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at
0,1,6,2025-05-18,4206.16,Delivered,"5337 Mccoy Ports Apt. 280\nSouth Cindystad, NC...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
1,2,100,2025-05-10,2098.90,Delivered,"82240 Rebecca Isle Apt. 744\nNew Denise, GA 62894",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
2,3,38,2025-05-27,1963.08,Delivered,"050 Bush Grove Suite 020\nLake Trevorborough, ...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
3,4,63,2025-11-04,2436.86,Delivered,"01285 Barbara Crest Apt. 471\nBlevinstown, AS ...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
4,5,62,2025-08-13,1152.02,Delivered,USCGC Gibson\nFPO AP 53465,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927

## Database Statistics

In [15]:
# Get table counts
stats = run_sql_simple("""
SELECT 
    (SELECT COUNT(*) FROM customers) as total_customers,
    (SELECT COUNT(*) FROM products) as total_products,
    (SELECT COUNT(*) FROM orders) as total_orders,
    (SELECT COUNT(DISTINCT segment) FROM customers) as customer_segments,
    (SELECT COUNT(DISTINCT category) FROM products) as product_categories,
    (SELECT COUNT(DISTINCT status) FROM orders) as order_statuses
""")

print("=== DATABASE STATISTICS ===")
display(stats)

ParseResult(scheme='postgresql', netloc='postgres.phykqwvmtgeytfeejuyg:S8yrcfQg4Gsoph@aws-1-ap-southeast-2.pooler.supabase.com:6543', path='/postgres', params='', query='', fragment='')

/var/folders/mp/b24cjdwd53j8wrh3z14b59qw0000gn/T/ipykernel_15254/474721194.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

=== DATABASE STATISTICS ===

,total_customers,total_products,total_orders,customer_segments,product_categories,order_statuses
0,100,50,200,3,6,4

---

# Section 5: Provide Schema Documentation to Agent

## Why Schema Documentation Matters

The Agent needs to understand:
- What tables exist
- What columns each table has
- Data types and relationships
- Business terminology

**Without schema knowledge, the Agent will generate incorrect SQL!**

Example: It might look for a `price` column in `orders` when the correct column is `total_amount`.

## Provide Schema Context

We'll give the Agent a detailed schema description.

In [16]:
# Schema documentation
SCHEMA_CONTEXT = """
DATABASE SCHEMA:

Table: customers
Columns:
  - id (SERIAL PRIMARY KEY)
  - name (VARCHAR) - Customer full name
  - email (VARCHAR) - Customer email address
  - segment (VARCHAR) - One of: 'SMB', 'Enterprise', 'Individual'
  - country (VARCHAR) - Customer country
  - created_at (TIMESTAMP)
  - updated_at (TIMESTAMP)

Table: products
Columns:
  - id (SERIAL PRIMARY KEY)
  - name (VARCHAR) - Product name
  - category (VARCHAR) - Product category (Electronics, Software, Hardware, etc.)
  - price (DECIMAL) - Product unit price
  - stock_quantity (INT) - Current inventory count
  - description (TEXT)
  - created_at (TIMESTAMP)
  - updated_at (TIMESTAMP)

Table: orders
Columns:
  - id (SERIAL PRIMARY KEY)
  - customer_id (INT) - Foreign key to customers.id
  - order_date (DATE) - Date of order
  - total_amount (DECIMAL) - TOTAL ORDER PRICE (use this for revenue, NOT 'price'!)
  - status (VARCHAR) - One of: 'Pending', 'Delivered', 'Cancelled', 'Processing'
  - shipping_address (TEXT)
  - created_at (TIMESTAMP)
  - updated_at (TIMESTAMP)

RELATIONSHIPS:
  - customers.id ‚Üí orders.customer_id (one-to-many)
  
IMPORTANT NOTES:
  - For order revenue/pricing, use orders.total_amount (NOT 'price')
  - Customer segments: 'SMB', 'Enterprise', 'Individual' (case-sensitive)
  - Order statuses: 'Pending', 'Delivered', 'Cancelled', 'Processing' (case-sensitive)
  - To join customers and orders: JOIN orders ON customers.id = orders.customer_id
"""

print("‚úì Schema context prepared")
print("\nThis will help the Agent understand the database structure.")

‚úì Schema context prepared

This will help the Agent understand the database structure.

---

# Section 6: Querying with the Agent

## Create Helper Function for Agent Queries

**Important:** Vanna 2.0's `agent.send_message()` returns an **async generator**, not a simple awaitable.

We must use `async for` to iterate through UI components.

In [17]:
# Create a request context (simulates HTTP request)
request_context = RequestContext()

# Test query
print("üß™ Testing Agent with: 'How many customers are in the database?'\n")

try:
    # Iterate over streaming results
    async for ui_component in agent.send_message(
        request_context=request_context,
        message="How many customers are in the database?"
    ):
        # Each ui_component is a piece of the response
          print(ui_component)

    print("\n‚úÖ Agent responded successfully!")

except Exception as e:
      print(f"‚ùå Error: {e}")
      print("\nTroubleshooting:")
      print("  ‚Ä¢ Make sure DATABASE_URL is set correctly")
      print("  ‚Ä¢ Ensure the database has a 'customers' table")
      print("  ‚Ä¢ Check OPENAI_API_KEY is valid")

üß™ Testing Agent with: 'How many customers are in the database?'

timestamp='2026-01-20T08:40:48.111961' rich_component=StatusBarUpdateComponent(id='vanna-status-bar', type=<ComponentType.STATUS_BAR_UPDATE: 'status_bar_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:48.111938', visible=True, interactive=False, status='working', message='Processing your request...', detail='Analyzing query') simple_component=None
timestamp='2026-01-20T08:40:48.112197' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:48.112179', visible=True, interactive=False, operation=<TaskOperation.ADD_TASK: 'add_task'>, task=Task(id='1d2cbef8-ccc0-4866-b97a-6446358a8b9c', title='Load conversation context', description='Reading message history and user context', status='pending', progress=None, created_at='2026-01-20T08:40:48.112156', completed_at=None, metadata={}), task_id=None, status=None, progress=None, detail=None) simple_component=None
timestamp='2026-01-20T08:40:48.116995' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:48.116980', visible=True, interactive=False, operation=<TaskOperation.UPDATE_TASK: 'update_task'>, task=None, task_id='1d2cbef8-ccc0-4866-b97a-6446358a8b9c', status='completed', progress=None, detail=None) simple_component=None
timestamp='2026-01-20T08:40:50.179565' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:50.179545', visible=True, interactive=False, operation=<TaskOperation.ADD_TASK: 'add_task'>, task=Task(id='67a925c9-ce21-4e1e-8119-c1359872366c', title='Execute run_sql', description='Running tool with provided arguments', status='in_progress', progress=None, created_at='2026-01-20T08:40:50.179498', completed_at=None, metadata={}), task_id=None, status=None, progress=None, detail=None) simple_component=None
timestamp='2026-01-20T08:40:50.179878' rich_component=StatusCardComponent(id='2956c70e-7407-4374-ab4c-e65afb447ccf', type=<ComponentType.STATUS_CARD: 'status_card'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:50.179841', visible=True, interactive=False, title='Executing run_sql', status='running', description='Running tool with 1 arguments', icon='‚öôÔ∏è', metadata={'sql': 'SELECT COUNT(*) AS total_customers FROM customers;'}, actions=[], collapsible=False, collapsed=False) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='')
timestamp='2026-01-20T08:40:52.246937' rich_component=StatusCardComponent(id='2956c70e-7407-4374-ab4c-e65afb447ccf', type=<ComponentType.STATUS_CARD: 'status_card'>, lifecycle=<ComponentLifecycle.UPDATE: 'update'>, data={}, children=[], timestamp='2026-01-20T08:40:52.246915', visible=True, interactive=False, title='Executing run_sql', status='success', description='Tool completed successfully', icon='‚öôÔ∏è', metadata={'sql': 'SELECT COUNT(*) AS total_customers FROM customers;'}, actions=[], collapsible=False, collapsed=False) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='Tool completed successfully')
timestamp='2026-01-20T08:40:52.247114' rich_component=TaskTrackerUpdateComponent(id='vanna-task-tracker', type=<ComponentType.TASK_TRACKER_UPDATE: 'task_tracker_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:52.247104', visible=True, interactive=False, operation=<TaskOperation.UPDATE_TASK: 'update_task'>, task=None, task_id='67a925c9-ce21-4e1e-8119-c1359872366c', status='completed', progress=None, detail='Tool completed successfully') simple_component=None
timestamp='2026-01-20T08:40:52.246811' rich_component=DataFrameComponent(id='80c8e8db-f51f-4822-b84b-0ff9159cf022', type=<ComponentType.DATAFRAME: 'dataframe'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:52.246762', visible=True, interactive=False, rows=[{'total_customers': 100}], columns=['total_customers'], title='Query Results', description='SQL query returned 1 rows with 1 columns', row_count=1, column_count=1, max_rows_displayed=100, searchable=True, sortable=True, filterable=True, exportable=True, striped=True, bordered=True, compact=False, paginated=True, page_size=25, column_types={}) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='total_customers\n100\n\n\nResults saved to file: query_results_2fd51253.csv\n\n**IMPORTANT: FOR VISUALIZE_DATA USE FILENAME: query_results_2fd51253.csv**')
timestamp='2026-01-20T08:40:53.499122' rich_component=StatusBarUpdateComponent(id='vanna-status-bar', type=<ComponentType.STATUS_BAR_UPDATE: 'status_bar_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:53.499096', visible=True, interactive=False, status='idle', message='Response complete', detail='Ready for next message') simple_component=None
timestamp='2026-01-20T08:40:53.499330' rich_component=ChatInputUpdateComponent(id='vanna-chat-input', type=<ComponentType.CHAT_INPUT_UPDATE: 'chat_input_update'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:53.499310', visible=True, interactive=False, placeholder='Ask a follow-up question...', disabled=False, value=None, focus=None) simple_component=None
timestamp='2026-01-20T08:40:53.499465' rich_component=RichTextComponent(id='3d00cff4-e4af-4c12-b8c2-c9da0c266ead', type=<ComponentType.TEXT: 'text'>, lifecycle=<ComponentLifecycle.CREATE: 'create'>, data={}, children=[], timestamp='2026-01-20T08:40:53.499444', visible=True, interactive=False, content='There are a total of 100 customers in the database.', markdown=True, code_language=None, font_size=None, font_weight=None, text_align=None) simple_component=SimpleTextComponent(type=<SimpleComponentType.TEXT: 'text'>, semantic_type=None, metadata=None, text='There are a total of 100 customers in the database.')

‚úÖ Agent responded successfully!

In [19]:
async def ask_agent_without_explanation(question: str, include_schema: bool = True):
    """
    Ask the Agent a question and display results.
    
    Args:
        question: Natural language question
        include_schema: Whether to include schema context (recommended: True)
    """
    # Prepend schema context to question
    if include_schema:
        full_message = f"{SCHEMA_CONTEXT}\n\nQUESTION: {question}"
    else:
        full_message = question
    
    # Create request context
    request_context = RequestContext()
    
    print(f"ü§î Question: {question}\n")
    
    # Send message to agent (returns async generator)
    async for component in agent.send_message(
        request_context=request_context,
        message=full_message
    ):
        # Extract the UI component
        rich_comp = component.rich_component
        
        # Handle different component types
        if hasattr(rich_comp, 'rows') and rich_comp.rows:
            # DataFrameComponent - extract data from 'rows' attribute
            df = pd.DataFrame(rich_comp.rows)
            print("üìä Results:")
            display(df)
            print()
        
        elif hasattr(rich_comp, 'text') and rich_comp.text:
            # RichTextComponent - display text
            print(f"üí¨ {rich_comp.text}\n")
        
        elif hasattr(rich_comp, 'sql') and rich_comp.sql:
            # SQL code component
            print(f"üîç Generated SQL:\n{rich_comp.sql}\n")

print("‚úì Helper function created: ask_agent()")

‚úì Helper function created: ask_agent()

### With Explanations

In [20]:
async def ask_agent(question: str):
      """Ask agent and display results properly."""
      print(f"‚ùì Question: {question}\n")

      request_context = RequestContext()

      print("="*80 + "\n")

      async for component in agent.send_message(
          request_context=request_context,
          message=question
      ):
          rich_comp = component.rich_component

          # Check for DataFrame component
          if hasattr(rich_comp, 'type') and 'DATAFRAME' in str(rich_comp.type):
              # ‚úÖ Get data from 'rows' attribute!
              if hasattr(rich_comp, 'rows') and rich_comp.rows:
                  df = pd.DataFrame(rich_comp.rows)

                  print("üìä Query Results:\n")
                  from IPython.display import display
                  display(df)
                  print()

          # Check for text explanation
          elif hasattr(rich_comp, 'type') and 'TEXT' in str(rich_comp.type):
              if hasattr(rich_comp, 'content') and rich_comp.content:
                  print("üí¨ Explanation:\n")
                  print(rich_comp.content)
                  print()

      print("="*80 + "\n")

## Example 1: Simple COUNT Query

In [21]:
await ask_agent("How many customers do we have?")

‚ùì Question: How many customers do we have?

================================================================================

üìä Query Results:

   customer_count
0             100

üí¨ Explanation:

You currently have a total of 100 customers.

================================================================================

## Example 2: Aggregation Query

In [22]:
await ask_agent("What is the total revenue from all orders?")

‚ùì Question: What is the total revenue from all orders?

================================================================================

üìä Query Results:

  total_revenue
0     555804.92

üí¨ Explanation:

The total revenue from all orders is $555,804.92.

================================================================================

## Example 3: Filtering Query

In [23]:
await ask_agent("How many orders have been delivered?")

‚ùì Question: How many orders have been delivered?

================================================================================

üìä Query Results:

   delivered_orders_count
0                     146

üí¨ Explanation:

A total of 146 orders have been delivered. If you need any further analysis or have additional questions, feel free to ask!

================================================================================

## Example 4: JOIN Query

In [24]:
await ask_agent("Show me the top 5 customers by total spending")

‚ùì Question: Show me the top 5 customers by total spending

================================================================================

Tool iteration limit reached: 10/10

üí¨ Explanation:

‚ö†Ô∏è **Tool Execution Limit Reached**

The agent stopped after executing 10 tools (the configured maximum). The task may not be fully complete.

You can:
- Ask me to continue where I left off
- Adjust the `max_tool_iterations` setting if you need more tool calls
- Break the task into smaller steps

================================================================================

## Example 5: GROUP BY with JOIN

In [25]:
await ask_agent("What is the average order value for each customer segment?")

‚ùì Question: What is the average order value for each customer segment?

================================================================================

üìä Query Results:

  customer_segment    average_order_value
0       Individual  2755.0681395348837209
1       Enterprise  2691.5609375000000000
2              SMB  2933.5596721311475410

üí¨ Explanation:

The average order value for each customer segment is as follows:

- **Individual:** $2,755.07
- **Enterprise:** $2,691.56
- **SMB (Small and Medium-sized Businesses):** $2,933.56

These values indicate that the SMB segment has the highest average order value, closely followed by the Individual segment, while the Enterprise segment has the lowest average order value. If you need further analysis or insights, feel free to ask!

================================================================================

## Example 6: Time-Based Filtering

In [24]:
await ask_agent("Show orders from the last 30 days")

ü§î Question: Show orders from the last 30 days

üìä Results:

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at
0,9,86,2026-01-12,2869.88,Cancelled,"2328 Susan Rest Suite 115\nWest Amandahaven, M...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
1,14,42,2026-01-15,1004.79,Delivered,"02361 Taylor Orchard\nNorth Gary, WV 49989",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
2,22,79,2026-01-15,4043.11,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
3,58,91,2025-12-29,722.07,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
4,59,12,2025-12-20,2708.48,Processing,"552 Alexa Cliffs Apt. 109\nJohnland, HI 07530",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
5,66,73,2025-12-26,2436.92,Delivered,"996 Ramsey Gardens Apt. 260\nMichelleland, IA ...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
6,67,49,2026-01-12,639.60,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
7,85,70,2026-01-08,723.34,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
8,91,65,2025-12-22,4468.37,Delivered,"411 Abigail Bridge\nAngelachester, PA 10305",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
9,102,83,2025-12-23,984.24,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
10,109,73,2025-12-22,4531.47,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
11,125,88,2025-12-23,865.07,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
12,133,42,2025-12-31,4426.62,Delivered,"41685 James Park Apt. 829\nJenniferport, MD 72964",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
13,137,49,2026-01-11,436.57,Pending,"619 Robertson Forge Apt. 410\nKatiefurt, SC 92185",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
14,146,40,2026-01-08,637.66,Delivered,"251 King Freeway Suite 671\nNew Heather, FM 01384",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
15,156,22,2025-12-26,2345.36,Delivered,"4471 Rogers Green\nSouth Michaelland, NM 90849",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
16,164,68,2025-12-19,3801.86,Delivered,Unit 3795 Box 7895\nDPO AP 04916,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
17,166,76,2025-12-28,4400.81,Cancelled,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
18,181,90,2025-12-20,2130.07,Delivered,"926 Allison Tunnel Suite 953\nNew Jeremiah, TN...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
19,184,89,2025-12-29,672.77,Pending,"28093 Wong Inlet\nNatashafort, OK 95157",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927

## Example 7: Complex Business Question

In [25]:
await ask_agent("What is the total revenue from delivered orders placed by Enterprise customers?")

ü§î Question: What is the total revenue from delivered orders placed by Enterprise customers?

üìä Results:

  total_revenue
0     203438.76

---

# Section 7: Understanding How the Agent Works

## The Agent's Workflow

When you ask a question, here's what happens:

1. **Question Processing** - Agent receives your natural language question
2. **Schema Retrieval** - Agent uses the schema context we provided
3. **SQL Generation** - GPT-4o generates SQL based on the question and schema
4. **Tool Execution** - Agent calls `RunSqlTool` to execute the SQL
5. **Result Formatting** - Results are returned as UI components (DataFrameComponent)
6. **Response** - We extract and display the results

## Why Schema Context is Critical

Compare these two approaches:

### Without Schema Context:

In [26]:
# This might generate incorrect SQL (looking for 'price' instead of 'total_amount')
await ask_agent(
    "What is the total revenue from delivered orders?",
    include_schema=False  # No schema context
)

ü§î Question: What is the total revenue from delivered orders?

üìä Results:

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,orders,id,1,nextval('orders_id_seq'::regclass),NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,public,orders,customer_id,2,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,public,orders,order_date,3,CURRENT_DATE,NO,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,public,orders,total_amount,4,None,NO,numeric,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,public,orders,status,5,None,YES,character varying,20.0,8.000000e+01,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,public,orders,shipping_address,6,None,YES,text,NaN,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,public,orders,created_at,7,CURRENT_TIMESTAMP,YES,timestamp without time zone,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,public,orders,updated_at,8,CURRENT_TIMESTAMP,YES,timestamp without time zone,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES

üìä Results:

  total_revenue
0          None

### With Schema Context:

In [26]:
# This will generate correct SQL (using 'total_amount')
await ask_agent(
    "What is the total revenue from delivered orders?",
    include_schema=True  # Schema context included
)

TypeError: ask_agent() got an unexpected keyword argument 'include_schema'

## Verifying Agent Results

Let's verify the Agent's answer with direct SQL:

In [28]:
# Direct SQL query for verification
verification_result = run_sql_simple("""
SELECT 
    COUNT(*) as delivered_count,
    SUM(total_amount) as total_revenue
FROM orders
WHERE status = 'Delivered'
""")

print("=== VERIFICATION (Direct SQL) ===")
display(verification_result)

ParseResult(scheme='postgresql', netloc='postgres.phykqwvmtgeytfeejuyg:S8yrcfQg4Gsoph@aws-1-ap-southeast-2.pooler.supabase.com:6543', path='/postgres', params='', query='', fragment='')

/var/folders/mp/b24cjdwd53j8wrh3z14b59qw0000gn/T/ipykernel_34633/474721194.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

=== VERIFICATION (Direct SQL) ===

   delivered_count  total_revenue
0              146      410283.81

---

# Section 8: Testing Various Question Types

## Simple Queries

In [29]:
await ask_agent("How many products are in stock?")

ü§î Question: How many products are in stock?

üìä Results:

   total_stock
0        11394

## Aggregation Queries

In [30]:
await ask_agent("What is the average product price?")

ü§î Question: What is the average product price?

üìä Results:

   average_product_price
0  1040.9622000000000000

In [31]:
await ask_agent("What is the highest order value?")

ü§î Question: What is the highest order value?

üìä Results:

  highest_order_value
0             4978.61

## Filtering and Sorting

In [32]:
await ask_agent("Show me the 10 most expensive products")

ü§î Question: Show me the 10 most expensive products

üìä Results:

                                   name    price
0  Support Plan Brown, Garcia and Scott  1974.32
1                     Switch Nguyen Ltd  1971.94
2                            CRM System  1964.36
3                  Training Blake-Frank  1911.96
4                           Design Book  1896.41
5             Consulting Brown-Gonzalez  1828.95
6                                Webcam  1812.45
7                               Speaker  1777.20
8                 Webcam Davis and Sons  1582.90
9               Support Plan Holmes LLC  1578.60

In [33]:
await ask_agent("Which customers are from the USA?")

ü§î Question: Which customers are from the USA?

üìä Results:

                 name                         email
0       Joanna Garcia   thompsonkathryn@example.net
1    Kenneth Jacobson             chall@example.net
2       Judith Cooper    davidhernandez@example.com
3        Kelly Jordan           sarah44@example.net
4   Patricia Harrison     ryanstephanie@example.org
5      Russell Little  jennifermartinez@example.net
6    Michael Cisneros      silvamichael@example.net
7        Joseph Stone      molinaandrea@example.net
8    Rebecca Marshall     roblesmichael@example.com
9        Tanya Wilson        hardyjulia@example.com
10    Gregory Swanson      brittanylowe@example.org

## Complex JOIN Queries

In [34]:
await ask_agent("How many orders has each customer segment placed?")

ü§î Question: How many orders has each customer segment placed?

üìä Results:

      segment  order_count
0  Individual           43
1  Enterprise           96
2         SMB           61

In [35]:
await ask_agent("Which customers have never placed an order?")

ü§î Question: Which customers have never placed an order?

üìä Results:

                name                        email
0       Carla Strong    timothymiller@example.com
1      Joanna Garcia  thompsonkathryn@example.net
2      Alexis Parker         cwoodard@example.org
3     Elizabeth Cain     michaelcline@example.org
4        Austin Rich      hayesbrooke@example.net
5      William Kelly       jonathan32@example.org
6    Melissa Bradley        ramosmark@example.net
7   Donald Nicholson      bensonkevin@example.org
8      Steven Vaughn         robert83@example.org
9   Barbara Johnston          xtaylor@example.net
10   Gregory Swanson     brittanylowe@example.org
11    Tyler Chandler   johnstonjustin@example.org

---

# Section 9: Error Handling and Best Practices

## Common Issues and Solutions

### Issue 1: Ambiguous Questions

**Bad:** "Show me the data" (What data? Which table?)

**Good:** "Show me all customers from the USA"

In [36]:
# This will likely generate better SQL
await ask_agent("Show me all customers from the USA")

ü§î Question: Show me all customers from the USA

üìä Results:

,id,name,email,segment,country,created_at,updated_at
0,19,Joanna Garcia,thompsonkathryn@example.net,SMB,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
1,21,Kenneth Jacobson,chall@example.net,Individual,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
2,51,Judith Cooper,davidhernandez@example.com,Enterprise,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
3,59,Kelly Jordan,sarah44@example.net,Enterprise,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
4,61,Patricia Harrison,ryanstephanie@example.org,Individual,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
5,63,Russell Little,jennifermartinez@example.net,Enterprise,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
6,70,Michael Cisneros,silvamichael@example.net,Enterprise,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
7,72,Joseph Stone,molinaandrea@example.net,Individual,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
8,78,Rebecca Marshall,roblesmichael@example.com,Individual,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
9,93,Tanya Wilson,hardyjulia@example.com,SMB,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
10,94,Gregory Swanson,brittanylowe@example.org,Individual,USA,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927

### Issue 2: Incorrect Column Names

**Problem:** Agent looks for 'price' in orders table (doesn't exist)

**Solution:** Provide clear schema documentation (we do this in `SCHEMA_CONTEXT`)

In [37]:
# Schema context prevents this error
await ask_agent("What is the total revenue?")  # Will correctly use 'total_amount'

ü§î Question: What is the total revenue?

üìä Results:

  total_revenue
0     555804.92

### Issue 3: Case Sensitivity

**Problem:** PostgreSQL string comparisons are case-sensitive

**Solution:** Document exact values in schema context

In [38]:
# This works because we documented 'Delivered' (capitalized) in schema
await ask_agent("Show delivered orders")

ü§î Question: Show delivered orders

üìä Results:

,id,customer_id,order_date,total_amount,status,shipping_address,created_at,updated_at
0,1,6,2025-05-18,4206.16,Delivered,"5337 Mccoy Ports Apt. 280\nSouth Cindystad, NC...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
1,2,100,2025-05-10,2098.90,Delivered,"82240 Rebecca Isle Apt. 744\nNew Denise, GA 62894",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
2,3,38,2025-05-27,1963.08,Delivered,"050 Bush Grove Suite 020\nLake Trevorborough, ...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
3,4,63,2025-11-04,2436.86,Delivered,"01285 Barbara Crest Apt. 471\nBlevinstown, AS ...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
4,5,62,2025-08-13,1152.02,Delivered,USCGC Gibson\nFPO AP 53465,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
...,...,...,...,...,...,...,...,...
141,195,33,2025-05-27,2465.04,Delivered,None,2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
142,197,85,2025-06-03,94.87,Delivered,"381 Bryan Hollow Apt. 541\nDerekland, MH 74732",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
143,198,67,2025-05-18,3323.95,Delivered,"7959 Kylie Burgs Apt. 440\nCodyton, PW 87881",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
144,199,88,2025-10-03,4978.61,Delivered,"10907 Jacob Track Suite 181\nLake Kelly, PA 21785",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927
145,200,7,2025-10-18,4558.16,Delivered,"2419 Clark Road Suite 426\nNew Donnahaven, VI ...",2026-01-18 03:57:14.759927,2026-01-18 03:57:14.759927

## Best Practices

1. **Always provide schema context** - Critical for accuracy
2. **Be specific in questions** - Avoid ambiguous language
3. **Document exact values** - Include enum values, case sensitivity
4. **Verify results** - Compare Agent output with direct SQL
5. **Use descriptive column names** - Helps the LLM understand intent
6. **Include business logic** - Document relationships and constraints
7. **Test edge cases** - Empty results, NULLs, etc.
8. **Monitor and log** - Track query accuracy in production

## Production Considerations

1. **User Permissions** - Implement proper `UserResolver` with auth
2. **SQL Validation** - Block dangerous operations (DROP, DELETE without WHERE)
3. **Rate Limiting** - Prevent abuse
4. **Query Approval** - Show SQL to users before execution
5. **Monitoring** - Track failed queries for retraining
6. **Caching** - Cache common questions
7. **Row-Level Security** - Filter data based on user permissions
8. **API Key Management** - Never hardcode credentials

---

# Section 10: Next Steps and Resources

## What We've Learned

‚úÖ Text-to-SQL fundamentals
‚úÖ Vanna.ai 2.0 Agent architecture
‚úÖ Setting up LLM, database, tools, and user resolver
‚úÖ Importance of schema documentation
‚úÖ Querying with natural language
‚úÖ Handling async operations correctly
‚úÖ Extracting results from UI components
‚úÖ Best practices and error handling

## Key Takeaways

1. **Schema context is critical** - Without it, the Agent will generate incorrect SQL
2. **Vanna 2.0 uses async generators** - Use `async for` to iterate components
3. **UI components hold data in different attributes** - DataFrameComponent uses `rows`
4. **Direct SQL is useful** - For verification and simple queries
5. **Production requires more** - Permissions, validation, monitoring

## Advanced Topics to Explore

- **Custom Tools** - Create your own tools beyond RunSqlTool
- **Multi-Turn Conversations** - Agent memory and context
- **Different LLMs** - Try Claude, Llama, or other models
- **Different Databases** - MySQL, SQLite, Snowflake
- **Web Interface** - Vanna's `<vanna-chat>` component
- **Security** - Row-level security, query validation
- **Performance** - Caching, query optimization

## Resources

- **Vanna.ai Documentation**: https://docs.vanna.ai/
- **GitHub Repository**: https://github.com/vanna-ai/vanna
- **Examples**: https://github.com/vanna-ai/vanna/tree/main/examples
- **Community**: Discord, GitHub Discussions
- **API Reference**: https://docs.vanna.ai/api/

## Your Next Project Ideas

1. **Build a Slack Bot** - Answer data questions in Slack
2. **Create a Dashboard** - Visualize query results
3. **HR Analytics** - Query employee database
4. **Sales Intelligence** - Real-time sales queries
5. **Customer Support** - Automated data lookups

---

## Thank You!

You've completed the Vanna.ai Text-to-SQL tutorial. You now have the foundation to build your own Text-to-SQL applications!

**Happy coding! üöÄ**